# Google Gemini API Key
# Get from: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=AIzaSyAZv_oqM-4JON_bKg0D0_oJyDSMYQRjz1s

# ElevenLabs API Key
# Get from: https://elevenlabs.io/
ELEVENLABS_API_KEY=sk_d3ea1cc1c1764e20f064fc0e8798dd5527425de22079116b

# ElevenLabs Voice ID
# Default is: 21m00Tcm4TlvDq8ikWAM
ELEVENLABS_VOICE_ID=xYa75LlayhWHCRl1yJSH
